# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\admin\Desktop\paper\model\backend\LSTM资料\长短期记忆(LSTM)\使用LSTM建模\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
